<Files "anotacoes.txt">
    Require all denied
</Files>

<Files "Dockerfile">
    Require all denied
</Files>

<Files "docker-compose.yml">
    Require all denied
</Files>

<Files "mailer.php">
    Require all denied
</Files>
